body {
  background-color: #e6f8dc;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #f08d63;
  padding: 140px;
  border-radius: 50px;
  color: white;
  width: 500px;
}

.login-box h2 {
  margin-top: 0;
  font-size: 28px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: #dddddd;
}

.login-button {
  margin-top: 20px;
  background-color: #FFB357;
  border: none;
  padding: 20px 50px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bottom-link {
  position: fixed;       /* 常に画面下に固定 */
  bottom: 20px;          /* 下から20px */
  left: 50%;             /* 横方向の中央 */
  transform: translateX(-50%); /* きれいに中央寄せ */
  margin: 0;
  font-size: 24px;
}

.bottom-link a {
  text-decoration: none;
  color: #007bff;
}

.bottom-link a:hover {
  text-decoration: underline;
}