<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>書籍予約フォーム</title>
    <script>
        // クリアボタンでフォームをリセット
        function clearForm() {
            document.getElementById("reserveForm").reset(); 
        }
    </script>
    <link rel="stylesheet" href="/css/BookReservation.css">
</head>

<body>
    <h2>書籍を予約する</h2>
    <p class="text">※がある項目は必須入力です</p>
    <form id="reserveForm" method="post" action="Confirmation.html">
        <table>
            <tr>
                <td class="box1">書籍名（タイトル）※:</td>
                <td class="formbox"><input class="form1" type="text" name="title" /></td>
            </tr>
            <tr>
                <td class="box2">出版社名※：</td>
                <td claass="formbox"><input class="form2" type="text" name="publisher" /></td>
            </tr>
            <tr>
                <td class="box3">冊数※：</td>
                <td class="formbox"><input class="form3" type="text" name="count" /></td>
            </tr>
            <tr>
                <td class="box4">お名前※：</td>
                <td class="formbox"><input class="form4" type="text" name="name" /></td>
            </tr>
            <tr>
                <td class="box5">電話番号※:</td>
                <td class="formbox"><input class="form5" type="text" name="tel" /></td>
            </tr>
            <tr>
                <td class="box6">メールアドレス：</td>
                <td class="formbox"><input class="form6" type="text" name="address" /></td>
            </tr>
        </table>
        <button class="yoyaku" type="submit">予約する</button>
        <button class="clear" type="button" onclick="clearForm()">入力クリア</button>
    </form>
</body>

</html>