<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍予約確認</title>
    <link rel="stylesheet" href="/css/Confirmation.css">
</head>
<body>
    <h2>ご予約が完了しました！</h2>
    <p>・ご予約内容の確認をメールで通知いたしました。</p>
    <p>・後日、入荷した際に金額などの情報を通知いたします。</p>

    <h2>ご予約内容</h2>
    <table>
        <tr>
            <td>書籍名（タイトル）：</td>
            <td th:text="${title}">タイトル</td>
        </tr>
        <tr>
            <td>出版社名：</td>
            <td th:text="${publisher}">出版社</td>
        </tr>
        <tr>
            <td>冊数：</td>
            <td th:text="${count}">1</td>
        </tr>
        <tr>
            <td>お名前：</td>
            <td th:text="${name}">お名前</td>
        </tr>
        <tr>
            <td>電話番号：</td>
            <td th:text="${tel}">電話番号</td>
        </tr>
        <tr>
            <td>メールアドレス：</td>
            <td th:text="${email}">example@example.com</td>
        </tr>
    </table>

    <a href="/reservation">予約画面に戻る</a>
</body>
</html>
