<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍予約確認</title>
    <link rel="stylesheet" href="/css/Confirmation.css">
</head>
<body>
    <h2 class="kanryou">ご予約が完了しました！</h2>
    <p class="text">・ご予約内容の確認をメールで通知いたしました。</p>
    <p class="text">・後日、入荷した際に金額などの情報を通知いたします。</p>

    <h2>ご予約内容</h2>
    <table>
        <tr>
          <td class="box1">書籍名（タイトル）： <span th:text="${title}">サンプルタイトル</span></td>
        </tr>
        <tr>
          <td class="box2">出版社名： <span th:text="${publisher}">〇〇出版</span></td>
        </tr>
        <tr>
          <td class="box3">冊数： <span th:text="${count}">2</span></td>
        </tr>
        <tr>
          <td class="box4">お名前： <span th:text="${name}">山田 太郎</span></td>
        </tr>
        <tr>
          <td class="box5">電話番号： <span th:text="${tel}">090-1234-5678</span></td>
        </tr>
        <tr>
          <td class="box6">メールアドレス： <span th:text="${email}">example@example.com</span></td>
        </tr>
      </table>
      

    <a class="button" href="/reservation">予約画面に戻る</a>
</body>
</html>
