<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>

    <html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ログイン画面</title>
        <link rel="stylesheet" href="/src/main/resources/static/css/Login.css">



    </head>

    <body>
        <h2>ログイン画面</h2>
        <form method="post" action="/login" th:action="@{/login}">
            <table>
                <tr>
                    <td class="ユーザID">ユーザID:</td>
                    <td><input type="text" name="user" class="textbox"/></td>
                </tr>
                <tr>
                    <td class="パスワード">パスワード：</td>
                    <td><input type="password" name="password" class="textbox"/></td>
                </tr>
            </table>
            <button type="submit" class="Login">ログイン</button>
        </form>
    </body>

    </html>