<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="/css/Login.css">



</head>

<body>
    <h1 class="ログイン画面">ログイン画面</h1>
    <form method="post" action="/login" th:action="@{/login}">
        <table>
            <tr>
                <td class="ユーザID">ユーザID</td>
                <td ><input type="text" name="user" class="textbox1"/></td>
            </tr>
            <tr>
                <td class="パスワード">パスワード</td>
                <td ><input type="password" name="password" class="textbox2"/></td>
            </tr>
        </table>
        <button type="submit" class="Login">ログイン</button>

        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
    </form>

    <h1>
        <a th:href="@{/reservation}" >書籍予約はこちら</a>
    </h1>
    
</body>

</html>