<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>

<body>
    <form method="post" th:action="@{/login}">
        <div class="login-box">
            <h2 style="font-size: 50px;">ログイン画面</h2>

            <div class="form-group">
                <label for="user" style="font-size: 30px;">ユーザーID</label>
                <!-- name は Spring Security デフォルトに合わせて "username" -->
                <input type="text" id="user" name="username">
            </div>

            <div class="form-group">
                <label for="password" style="font-size: 30px;">パスワード</label>
                <input type="password" id="password" name="password">
            </div>
        </div>

        <div class="button-wrapper">
            <button type="submit" class="login-button" style="font-size: 30px;">ログイン</button>
        </div>

        <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
    </form>
</body>

</html>
