<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>

String title = request.getParameter("title");
String publisher = request.getParameter("publisher");
String count = request.getParameter("count");
String name = request.getParameter("name");
String tel = request.getParameter("tel");
String address = request.getParameter("address");
String ISBNcode = request.getParameter("ISBNcode");
String date = request.getParameter("date");
String amount = request.getParameter("amount");

    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>注文履歴</title>
        <link rel="stylesheet" href="/src/main/resources/static/css/OrderHistory.css">
    </head>

    <body>
        <button type="button" onclick="location.href='logout.jsp'">ログアウト</button>
        <h2>注文履歴</h2>
        <form method="post" action="/post">
            <table border="1" cellpadding="5" cellspacing="0">
                <tr>
                    <th>書籍名（タイトル）</th>
                    <th>出版社</th>
                    <th>冊数</th>
                    <th>名前</th>
                    <th>電話番号</th>
                    <th>メールアドレス</th>
                    <th>ISBNコード</th>
                    <th>承認日時</th>
                    <th>金額</th>
                </tr>
                <tr>
                    <td><%= title %></td>
                    <td><%= publisher %></td>
                    <td><%= count %></td>
                    <td><%= name %></td>
                    <td><%= tel %></td>
                    <td><%= address %></td>
                    <td><%= ISBNcode %></td>
                    <td><%= date %></td>
                    <td><%= amount %></td>
                  </tr>
            </table>
            <button type="submit">承認する</button>
        </form>
    </body>

    </html>