<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>注文履歴</title>
    <link rel="stylesheet" href="\css\OrderHistory.css">
</head>

<body>
    <form action="/logout" method="post" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /><!--CSRF トークン-->
        <button type="submit">ログアウト</button>
    </form>
    <h2>注文履歴</h2>
    <div class="table-wrapper">
        <table border="1">
            <thead>
                <tr>
                    <th class="col-title">書籍名</th>
                    <th class="col-publisher">出版社</th>
                    <th class="col-count">冊数</th>
                    <th class="col-name">名前</th>
                    <th class="col-tel">電話番号</th>
                    <th class="col-address">email</th>
                    <th class="col-isbn">ISBNコード</th>
                    <th class="col-date">承認日</th>
                    <th class="col-amount">金額</th>
                    <th class="col-status">承認状況</th>
                    <th class="col-approve">承認ボタン</th>
                    <th class="col-complete">取引状況</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${reservationList}">
                    <td th:text="${reservation.title}"></td>
                    <td th:text="${reservation.publisher}"></td>
                    <td th:text="${reservation.count}"></td>
                    <td th:text="${reservation.name}"></td>
                    <td th:text="${reservation.tel}"></td>
                    <td th:text="${reservation.email}"></td>
                    <td th:text="${reservation.isbnCode} ?: ''"></td>
                    <td th:text="${reservation.approvalDate} ?: '未承認'"></td>
                    <td th:text="${reservation.amount} ?: '未入力'"></td>
                    <td id="approvalStatus" th:text="${reservation.approvalStatus} ?: '未承認'"></td>
                    
                    <!-- 承認ボタン -->
                    <!--<td th:text="">取引未完了</td>-->
                    <td>
                        <form action="/reserveappro" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="title" th:value="${reservation.title}" />
                            <input type="hidden" name="publisher" th:value="${reservation.publisher}" />
                            <input type="hidden" name="count" th:value="${reservation.count}" />
                            <input type="hidden" name="name" th:value="${reservation.name}" />
                            
                            <button type="submit">承認</button>
                        </form>
                        
                    </td>
                
                    <!-- 取引完了ボタン -->
                    <td>

                        <button onclick="document.getElementById('trcom').showModal()">取引完了</button>
                        <dialog id = "trcom">
                        <h5>取引を本当に確定してよろしいですか？</h5>
                        
                          <form action="/complete" method="post">
                            <button type="submit">完了</button>
                          </form>

                          <form method = "dialog">
                            <button>キャンセル</button>
                          </form>
                        </dialog>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>