<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%
    request.setCharacterEncoding("UTF-8");

    String title = request.getParameter("title");
    String publisher = request.getParameter("publisher");
    String count = request.getParameter("count");
    String name = request.getParameter("name");
    String phoneNumber = request.getParameter("phoneNumber");      
    String email = request.getParameter("email");                 
    String approvalDate = request.getParameter("approvalDate"); 
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>予約承認する</title>

    <link rel="stylesheet" href="/src/main/resources/static/css/Reservation.css">
</head>
<body>
    <button onclick="location.href='logout.jsp'">ログアウト</button>

    <h2>予約承認</h2>

    <table>
        <tr>
          <th>タイトル</th>
          <td><%= title %></td>
        </tr>
        <tr>
          <th>出版社</th>
          <td><%= publisher %></td>
        </tr>
        <tr>
          <th>冊数</th>
          <td><%= count %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= name %></td>
        </tr>
        <tr>
          <th>ISBNコード</th>
          <td><input type="text" name="ISBNcode" /></td>
        </tr>
        <tr>
          <th>承認日時</th>
          <td><%= approvalDate != null ? approvalDate : "" %></td>
        </tr>
        <tr>
          <th>金額</th>
          <td><input type="text" name="amount" /></td>
        </tr>
      </table>

    <form method="post" action="orderhistory.html">
  
        <input type="hidden" name="title" value="<%= title %>" />
        <input type="hidden" name="publisher" value="<%= publisher %>" />
        <input type="hidden" name="count" value="<%= count %>" />
        <input type="hidden" name="name" value="<%= name %>" />
 


        <button type="submit">承認する</button>

<button type="button" onclick="location.href='orderhistory.html'">注文履歴に戻る</button>
    </form>
</body>
</html>